* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana;
	font-weight: 14px;
	color: #363636;
}

.body {
	background-color: #E1E1E1;
	margin: 0;
	padding: 15px;
	min-width: 100%;
	min-height: 100%;
	min-height: 
	bottom: 0;
	text-align: center;
}

.content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 20px 20px 20px;
	background-color: #A6BBC8;
	text-align: left;
}

.shadow-box {
	-moz-box-shadow:	3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:			3px 3px 5px 6px #ccc;
}

/*MAQUETACIÓN*/

.one-half {
	width: 48%;
	margin-righ: 1%;
	float: left;
}

.last-column {
	margin-right: 0 !important;
}

.clearfix {
	clear: both;
}


/*DE ESTE TRABAJO*/

#box {
	margin-top: 10px;
	background-color: #F0F0F0;
	color: #383838;
	width:100%;
	height:200px;
	font-family: Verdana;
}

.controllers {
	margin: 15px;
}

#game-container {
	cursor:crosshair;
}